
*{
    margin:0;
    padding: 0;
}

/* FONT */
@font-face {
    src: url("font/font/Roboto-Light.ttf");
    font-family: roboto light;
}
@font-face {
    src: url("font/font/Roboto-Bold.ttf");
    font-family: roboto ;
}
@font-face{
    src: url("font/font/Roboto-Medium.ttf");
    font-family: roboto_medium;
}
section.big{
    background-color: #F7F7F7;
}
.bg--color{
    background-color: #D9263C !important;
    
    
}
a.nav-link {
    color: white !important;
}
/* TOP HEADER 2 */
.bg--color2{
    background-color: #F12A43 !important;
}
button.btn.btn-dark.my-2.my-sm-0.mr-4.btn--timkiem {
    width: 100px;
    height: 35px;
    margin-left: -8px;
}
input.form-control.mr-sm-2 {
   
    border-radius: 3px;
    font-family: arial;
    font-size: 14px;
    font-weight: lighter;
    font-family: roboto light;
}
.btn--timkiem{
    font-family: roboto light;
    font-size: 14px;
    background-color: black !important;
}
.contact .right{
    border-right: 1px solid rgb(167, 5, 5);
    color: white;
}
.contact .right i {
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 21px;
    color: #fff;
    width: 38px;
    height: 38px;
    line-height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    transform: translateY(-50%);
}
.fix span {
    position: relative;
    left: 55px;
    top: -2px;
    display: block;
}
.contact .left  i {
    position: absolute;
    top: 50%;
    
    font-size: 21px;
    color: #fff;
    width: 38px;
    height: 38px;
    line-height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    transform: translateY(-50%);
}
.fix{
    border-right: 1px solid rgb(148, 8, 8);
}
.fix i.fas, .icon i{
    position: absolute;
    top: 50%;
    font-size: 21px;
    color: #fff;
    width: 38px;
    height: 38px;
    line-height: 35px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    transform: translateY(-50%);
}
.fix span{
    font-family: roboto  ;
    color: white;
}
.li--fix li p, .bg--footer p {
    display: inline;
    font-family: roboto light;
    font-weight: 400;
}
.li--chinhsach{
    font-family: roboto light;
    font-weight: 400;
}
.fix--ul {
    margin-left: 16px;
}

/* hết phần header */

/* FOOTER */
.footer--team{
    background-color: #D9263C;
    
}
.footer--team p{
    margin-bottom: 0px !important;
}
.bg--footer{
    background-color: #F12A43;
}

 /* Back to top button
--------------------------------------------------------------*/ 
.back-to-top {
    position: fixed;
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    right: 15px;
    bottom: 15px;
    background: #D9263C;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #fff;
    background: #D9263C;
    transition: background 0.2s ease-in-out;
  }
 
  /* BACK TO TOP */


/* DANH MUC SẢN PHẨM */
.title{
    background-color: #969696;
    padding: 12px;
    color: white;
    margin-bottom: 0px;
}
.list{
    background-color: white;
}
.list-item{
    border-bottom: 1px solid rgb(211, 207, 207);
    border-right: 1px solid rgb(211, 207, 207);
    border-left: 1px solid rgb(211, 207, 207);
    padding: 7px;
    text-align: left;
    transition: 0.4s;
    text-decoration: none;
    

}
.list-item a{
    color: #333333;
    text-decoration: none;
}
.list-item a:hover{
    text-decoration: none;
    color: #333333;
    
}
.list-item:hover{
    background-color: #d3d1d1;
    text-decoration: none;
    cursor: pointer;
}
/*  SẢN PHẨM BÁN CHẠY */
.product {
    margin-top:5px;
    font-size: 13px; 
    font-weight: bold;
}
.product--img{
    border: 1px solid rgb(196, 192, 192);
}
.product .price{
    color: red;
}
.list{
    background-color: white;
}
.product--list-item{
    border-bottom: 1px solid rgb(211, 207, 207);
    border-right: 1px solid rgb(211, 207, 207);
    border-left: 1px solid rgb(211, 207, 207);
    padding: 7px;
    text-align: left;
    transition: 0.4s;
    text-decoration: none;
    

}
.product--list-item a{
    color: #333333;
    text-decoration: none;
}
.product--list-item a:hover{
    text-decoration: none;
    color: #333333;
}
.product--list-item:hover{
    
    text-decoration: none;
}

/* Sản phẩm nổi bật */
.stretch-card>.card {
    width: 100%;
    min-width: 100%
}

body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 0px
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel .item img {
    display: block;
    width: 100%;
    height: auto
}

.owl-carousel .item {
    margin: 3px
}

.owl-carousel {
    margin-bottom: 15px
}
.card--fix--pd{
    padding: 0px !important;
}
.card--fix--mg{
    margin: 0px;
}


/* SUPPORT */
/* .support{
    margin-left: ;
} */
.support--small{
    
    background-color: white;
    border: 1px solid rgb(190, 185, 185) ;
}

.fix--support{
    padding: 0px !important;
}

/* DANH MỤC SẢN PHẨM */

.card--small .card-body{
    padding: 0px 0px 30px 0px  !important;
     
 }
 .card--small{
     transition: 0.4s;
 }
 .card--small:hover{
     border: 1px solid rgb(129, 127, 127);
 }
 
 .card--small h6{
     font-size: 14px;
     padding: 7px;
     font-family: roboto_medium;
     
 }
 .col-9 .col-3{
     padding: 5px;
 }
 .card--small .btn{
     margin-top: 10px;
     width: 180px;
 }
 .card--small .price_km{
     color: #D9263C;
     font-family: roboto;
     
 }
 .card--small span del{
     font-family: roboto light;
     color: gray;
 }
 
 .card--small .card-title{
     text-decoration: none;
     color: black;
     margin-bottom: 0px;
 }
 .card--small a:hover{
     text-decoration: none;
 }


 /* BLOG */
 /* BLOG */
.news_small--content a:hover{
    text-decoration: none;
}
.blog{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}


/* DANH MỤC SẢN PHẨM */
ul.detail--ul{
    padding: 20px 10px;
}
li.detail--list-item{
    padding: 5px;
}

.detail--list-item a {
    color: gray;
    text-decoration: none;
    transition: 0.2s;
}
.detail--list-item a:hover{
    color: rgb(216, 67, 67);
    text-decoration: none;
}


.card--small .card-body{
    padding: 0px 0px 30px 0px  !important;
     
 }
 .card--small{
     transition: 0.4s;
 }
 .card--small:hover{
     border: 1px solid rgb(192, 188, 188);
     box-shadow: 2px 2px 7px grey;
 }
 
 .card--small h6{
     font-size: 14px;
     padding: 7px;
     font-family: roboto_medium;
     
 }
 .col-9 .col-3{
     padding: 5px;
 }
 .card--small .btn{
     margin-top: 10px;
     width: 180px;
 }
 .card--small .price_km{
     color: #D9263C;
     font-family: roboto;
     
 }
 .card--small span del{
     font-family: roboto light;
     color: gray;
 }
 
 .card--small .card-title{
     text-decoration: none;
     color: black;
     margin-bottom: 0px;
 }
 .card--small a:hover{
     text-decoration: none;
 }
 
 /* LIÊN HỆ_PHAN MAIN */
.col-9.bg_lienhe, .bg_introduce{
    background-color: white;
    border-radius: 10px;
}



/* GIOITHIEU */
.introduce h3, .lienhe h3, .blog h3{
    font-family: roboto light;
    font-size: 30px;
}
.introduce{
    padding-bottom: 40px;
}


/* CHI TIẾT SẢN PHẨM */
.product_chitiet {
    background-color: white;
    border-radius: 5px;
    padding: 10px;

}
.product_chitiet--content .price{
    font-size: 25px;
    color: red;
    font-weight: 400;
}
.product_chitiet .promotion_price{
    color: grey;
}
.product_mota--content {
    background-color: white;
    border-radius: 5px;
    
   
}
/* TRANG CHỦ */
/* TIN NỔI BẬT */
.news .card.mx-2{
    transition: 0.4s;
}
.news .card.mx-2:hover{
    border: 1px solid grey;
}

/* RESPONSIVE */
/* RESPONSIVE TRANGCHU */
@media (max-width: 576px)
{
    *{}
}

/* THONGTINKHACHHANG */
table tr.cart-item td{
    padding: 15px 0px;
    border-bottom: 1px solid #ddd;
    display: table-cell;
    vertical-align: middle;
}
table tr.order-total {
    padding: 15px 0px;
    text-transform: uppercase;
    font-family: 'Roboto Medium';
    font-weight: normal;
}
table tr:first-child td{
    /* font-family: roboto_medium; */
}
.tr{
    font-family: roboto_medium;
}

/* log-in */
.layout-login{
    background-color: #f7f7f7;
}
.main-content-login{
    margin: 50px 0px;
}
.form-login{
    background-color: white;
    border: 1px solid rgb(167, 165, 165);
    padding: 15px 15px;
}
.text-login{
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    color: rgb(89, 159, 224);
    font-weight: 350;
}
.form-group-login{
    margin-top: 15px;
}
.form-group-login .login-input{
    margin-top: 20px;
    width: 270px;
    height: 40px;
}
.form-group-login .b-login{
    text-transform: uppercase;
    font-weight: 500;
}

/* register */
.layout-register{
    background-color: #f7f7f7;
}
.main-register{
    margin: 50px 0px;
}

.hx-text-register{
    color: rgb(86, 156, 235);
}
.main-form-register{
    background-color: white;
    border: 1px solid rgb(158, 158, 158);
    padding: 15px 15px;
}
.text-register{
    color: rgb(86, 156, 235);
    text-transform: uppercase;
    font-weight: 350;
    font-size: 25px;
    text-align: center;
}
.form-register{
    width: 330px;
}
.form-register .register-input{
    margin-top: 15px;
}
.form-register .w-select{
    width: 170px;
    text-align: center;
}
.form-register .text-re{
    text-transform: uppercase;
    font-weight: 450;
}

/* account-user */
.layout-account-user{
    background-color: #f7f7f7;
}
.body-content{
    margin: 20px 0;
}
.link-list .nav .nav-item .colo-text{
    color: black;
    text-decoration: none;
}
.link-list .nav .nav-item .colo-text:hover{
    color: rgb(0, 195, 255);
}
.link-list .nav .nav-item .khoang-cach{
    margin-left: 7px;
}
.main-setting{
    margin-top: 15px;
}

.sidebar-user{
    background-color: white;
    padding: 10px 15px;
}

.content-main-account{
    background-color: white;
    padding: 15px;
}
.list-side{
    width: 200px;
}
.list-gr{
    border-bottom: 1px solid rgb(151, 151, 151) ;
    padding-bottom: 10px;
    font-size: 18px;
    padding-top: 10px;
    transition: 0.3s background-color;
}
.list-side .list-gr:hover{
    background-color: rgb(219, 219, 219);
}
.nav .list-1{
    text-decoration: none;
    color: black;
}

.list-gr .list-1 .icon-right{
    margin-left: 35px;
}
.list-gr .list-1 .icon-right1{
    margin-left: 96px;
}
.form-profile{
    width: 480px;
}
.form-profile .table input{
    border: 0.5px solid rgb(138, 138, 138);
    border-radius: 7px;
    height: 45px;
    width: 300px;
}