.forgot_password{
    width: 350px;
    padding: 40px 25px;
    border: 1px solid #e6e6e6;
    background: #fff;
}
.forgot_password h1 {
    color: #07adc6;
    text-align: center;
}
#form-forgot-password #btn_reset{
    display: block;
    width: 100%;
    margin-top: 15px;
    line-height: normal;
    margin-bottom: 10px;
}
#btn_new_pass{
    display: block;
    width: 100%;
    margin-top: 15px;
    line-height: normal;
    margin-bottom: 10px;
}
.email_forgot_pass{
    width: 100%;
}